{% extends 'Base/base.html' %}
{% block title %}
    添加员工
{% endblock %}
{% block content-header %}
    {% if Use %}
        <h1>员工编辑</h1>
    {% else %}
         <h1>添加员工</h1>
    {% endif %}


{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <form action="">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="MobilePhone-input">手机号码：</label>
                            {% if Use %}
                                <input type="text" class="form-control" name="MobilePhone1" id="MobilePhone1" value="{{ Use.mobilephone }}">
                            {% else %}
                                <input type="text" class="form-control" id="MobilePhone1">
                            {% endif %}

                        </div>
                        <div class="form-group">
                            <label for="username-input">工号：</label>
                            {% if Use %}
                                 <input type="text" class="form-control" id="username" value="{{ Use.worknumber }}">
                            {% else %}
                                 <input type="text" class="form-control" id="username">
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="email-input">邮箱：</label>
                            {% if Use %}
                                 <input type="email" class="form-control" id="email" value="{{ Use.email|default:''}}">
                            {% else %}
                                 <input type="email" class="form-control" id="email">
                            {% endif %}

                        </div>
                        <div class="form-group">
                            <label for="name-input">姓名：</label>
                            {% if Use %}
                                <input type="text" class="form-control" id="name" value="{{ Use.username }}">
                            {% else %}
                                <input type="text" class="form-control" id="name">
                            {% endif %}

                        </div>
                        <div class="form-group">
                            <label for="Department-input">部门：</label>
                            {% if Use %}
                                 <input type="text" class="form-control" id="Department" value="{{ Use.department|default:'' }}">
                            {% else %}
                                 <input type="text" class="form-control" id="Department">
                            {% endif %}

                        </div>
                        {% if Use %}

                        {% else %}
                            <div class="form-group">
                                <label for="password1-input">密码：</label>
                                <input type="text" class="form-control" id="password1">
                            </div>
                        {% endif %}

                        {% if Use %}

                        {% else %}
                            <div class="form-group">
                                <label for="password2-input">确认密码：</label>
                                <input type="text" class="form-control" id="password2" >
                            </div>
                        {% endif %}

                        <div class="checkbox">

                            {% if Use.is_superuser %}
                                <label style="margin-right: 20px">
                                    <input type="checkbox" name="groups"  value="{{ Use.is_superuser }}"   id="groups" disabled="true" checked>超级管理员
                                </label>
                            {% else %}

                                {% for group in groups %}
                                    {% if group in Groups %}
                                        <label style="margin-right: 20px">
                                            <input type="checkbox" name="groups" value="{{ group.id }}"  checked id="groups">{{ group.name }}
                                        </label>
                                    {% else %}
                                        <label style="margin-right: 20px">
                                            <input type="checkbox" name="groups" value="{{ group.id }}"   id="groups">{{ group.name }}
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="box box-footer">
                        {% if Use %}
                             <button class="btn btn-primary pull-right "  staff-id="{{ Use.pk }}" id="Editstaff-btn">编辑用户</button>
                        {% else %}
                             <button class="btn btn-primary pull-right "  id="addstaff-btn">立即添加</button>
                        {% endif %}

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}