<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title >变更管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1198943_44niedcul0s.css">
    <script src="../static/dist/js/jquery-3.4.1.min.js"></script>
    <script src="../static/dist/js/index.min.js"></script>
</head>
<body >
    <header class="header">
        <div class="container">
            <div class="log-box">
                <a href="/"></a>
            </div>
            <ul class="nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="/">变更管理</a></li>
                <li><a href="/">变更提交</a></li>
                <li><a href="/">用户管理</a></li>
                <li><a href="/">后台管理</a></li>
            </ul>
            <div class="auth-box">
                <i class="icon-caidaniconwodehui iconfont" ></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-url" id="banner-ur">
                        <li>
                            <a href="/"><img src="http://i.17173cdn.com/2fhnvk/YWxqaGBf/cms3/eePejNbnlcnsher.gif" alt=""></a>
                        </li>
                        <li>
                            <a href="/"><img src="https://i.17173cdn.com/gdthue/YWxqaGBf/snsapp/20190425/ktfpKIbnjkcyivr.jpg!a-3-960x.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="/"><img src="http://i.17173cdn.com/2fhnvk/YWxqaGBf/cms3/GzCnWFbnlcnwtzm.png" alt=""></a>
                        </li>
                        <li>
                            <a href="/"><img src="http://i.17173cdn.com/2fhnvk/YWxqaGBf/cms3/GQVDvkbnlcnFbvv.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="siderbar-wrapper"></div>
        </div>
    </div>
</body>
</html>
