{% extends 'Base/base.html' %}
{% block title %}
    变更类型字典
{% endblock %}

{% block head %}
      <script src="{% static 'js/AltType_Dict.min.js' %}"></script>
{% endblock %}

{% block content-header %}
    <h1> 变更类型字典</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <form action=""  method="get" class="form-inline">
                        <div class="form-group left-group">
                            <label for="">查询条件:</label>
                            {% if cxtj %}
                                 <input type="text" class="form-control" name="cxtj" placeholder="请输入查询条件" value="{{ cxtj }}">
                            {% else %}
                                <input type="text" class="form-control" name="cxtj" placeholder="请输入查询条件">
                            {% endif %}
                        </div>
                        <div class="form-group left-group">
                             <button class="btn btn-primary ">查询</button>
                        </div>
                        <div class="form-group left-group ">
                            <a href="{% url 'Dict:AltType_View' %}">清空</a>
                        </div>

                    </form>
{#                    <a href="{% url 'Dict:Add_DB_Dict' %}" class="btn btn-primary pull-right">添加数据库类型</a>#}
                    <button class="btn btn-primary pull-right Add_Btn">添加变更类型</button>
                </div>
                <div class="box body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                              <th>序号</th>
                              <th>变更类型</th>
                              <th>分类数量</th>
                              <th>修改人</th>
                              <th>修改時間</th>
                              <th>創建時間</th>
                              <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for AltType in AltTypes    %}
                            <tr id ={{ AltType.id }}  altertypename="{{ AltType.altertypename }}" >
                              <td>{{ forloop.counter }}</td>
                              <td>{{ AltType.altertypename }}</td>
                              <td>{{ AltType.counts }}</td>
                              <td>{{ AltType.modifier }}</td>
                              <td>{{ AltType.modifytime |date:"Y-m-d H:i:s"}}</td>
                              <td>{{ AltType.begintime  |date:"Y-m-d H:i:s"}}</td>
                              <td>
                                  <button class="btn btn-info btn-xs Edi_btn">编辑</button>
                                  <button class="btn btn-danger btn-xs Del_btn">删除</button>
                              </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box footer">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="box-footer">
            <p class="pull-left">第{{ current_page }}/总共{{ num_pages }}页</p>
            <ul class="pagination pull-right">
                {#上一页#}
                {% if page_obj.has_previous %}
                    <li><a href="?p={{ page_obj.previous_page_number }}{{ url_query }}">上一页</a></li>
                {% else %}
                    <li class="disabled"><a href="javascript:void(0);">上一页</a></li>
                {% endif %}

                {# 是否需要出现三个点 #}
                {% if left_has_more %}
                    <li><a href="?p=1">1</a></li>
                    <li><a href="javascript:void(0);">...</a></li>
                {% endif %}

                {# 左边的页码 #}
                {% for left_page in left_pages %}
                    <li><a href="?p={{ left_page }}{{ url_query }}">{{ left_page }}</a></li>
                {% endfor %}

                {# 当前的页面 #}
                <li class="active"><a href="?p={{ current_page }}{{ url_query }}">{{ current_page }}</a></li>

                {# 右边的页码 #}
                {% for right_page in right_pages %}
                    <li><a href="?p={{ right_page }}{{ url_query }}">{{ right_page }}</a></li>
                {% endfor %}

                {# 用来控制右边三个点 #}
                {% if right_has_more %}
                    <li><a href="javascript:void(0);">...</a></li>
                    <li><a href="?p={{ num_pages }}{{ url_query }}">{{ num_pages }}</a></li>
                {% endif %}

                {#下一页#}
                {% if page_obj.has_next %}
                    <li><a href="?p={{ page_obj.next_page_number }}{{ url_query }}">下一页</a></li>
                {% else %}
                    <li class="disabled"><a href="javascript:void(0);">下一页</a></li>
                {% endif %}
            </ul>
        </div>
{% endblock %}