{% extends 'Base/base.html' %}
{% block title %}

{% endblock %}

{% block head %}
      <script src="{% static 'js/DBType_Dict.min.js' %}"></script>
{% endblock %}

{% block content-header %}
    数据库分类
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
{#                    <a href="{% url 'Dict:Add_DB_Dict' %}" class="btn btn-primary pull-right">添加数据库类型</a>#}
                    <button class="btn btn-primary pull-right Add_Btn">添加数据库类型</button>
                </div>
                <div class="box body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                              <th>序号</th>
                              <th>数据库类型</th>
                                <th>分类数量</th>
                              <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for Database in Databases    %}
                            <tr id ={{ Database.id }}  DBname="{{ Database.Database }}" >
                              <td>{{ forloop.counter }}</td>
                              <td>{{ Database.Database }}</td>
                                <td>{{ Database.counts }}</td>
                              <td>
                                  <button class="btn btn-info btn-xs Edi_btn">编辑</button>
                                  <button class="btn btn-danger btn-xs Del_btn">删除</button>
                              </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box footer">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}